/* ==========================================================================
   data-theme support (for theme toggle)
   ========================================================================== */

[data-theme="light"] {
    color-scheme: light;
}
[data-theme="dark"] {
    color-scheme: dark;
}
@media (prefers-color-scheme: light) {
    [data-theme="system"] {
        color-scheme: light;
    }
}
@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        color-scheme: dark;
    }
}

