{% extends "base.html" %}

{% from 'chirpui/layout.html' import container %}
{% from 'partials/catalog-shell.html' import catalog_shell %}

{% block content %}
{% call catalog_shell(surface='blog', current_path=_page_url) %}
<div class="chirp-theme-blog-shell">
{% call container(max_width='84rem', cls='chirp-theme-blog') %}
<div class="chirp-theme-blog__spine">
{% block blog_hero %}{% end %}
<div class="chirp-theme-blog__content">
  {% block blog_content %}{% end %}
</div>
{% with footer_class='chirp-theme-footer chirp-theme-footer--shell' %}{% include 'partials/site-footer.html' %}{% end %}
</div>
{% end %}
</div>
{% end %}
{% end %}

{% block site_footer %}{% end %}
