{% extends "base.html" %}

{% from 'chirpui/layout.html' import container %}

{% block content %}
<div class="chirp-theme-docs-layout chirp-theme-docs-layout--blog" data-chirp-theme-surface="blog">
<aside class="chirp-theme-docs-layout__sidebar" id="docs-sidebar" role="navigation" aria-label="Site catalog navigation">
  {% include 'partials/docs-nav.html' %}
</aside>
<div class="chirp-theme-docs-layout__main">
{% call container(max_width='84rem', cls='chirp-theme-blog') %}
<div class="chirp-theme-blog__spine">
{% block blog_hero %}{% end %}
<div class="chirp-theme-blog__content">
  {% block blog_content %}{% end %}
</div>
{% with footer_class='chirp-theme-footer chirp-theme-footer--shell' %}{% include 'partials/site-footer.html' %}{% end %}
</div>
{% end %}
</div>
</div>
{% end %}

{% block site_footer %}{% end %}
